.projects {
  padding-top: -10px;
  width: 100%;
  position: relative;
  background-color: white;
}

.displayStuffs {
  color: black;
  text-align: center;
  font-family: cursive;
  padding: 30px 90px;
}

.displayStuffs h2 {
  font-size: 50px;
  font-family: cursive;
}

.displayStuffs p {
  font-size: 25px;
  font-family: 'Arial', sans-serif;
}

.project-slider .CarouselStyle {
  font-family: 'Arial', sans-serif;
  margin: 20px; /* Margin between cards */
}

.project-slider .CarouselStyle img {
  width: 100%; /* Make images responsive */
}
