.blogs {
  padding-top:-10px;
  position: relative;
  background-color: rgb(255, 255, 255);
}

.displayStuffsBlogs {
  text-align: center;
  font-family: 'Arial', sans-serif;
  padding: 30px 30px;
}

.blogsH2 {
  font-size: 40px;
}

.blogsP {
  font-size: 25px;
}

.blog-carousel .blog-card {
  margin: 15px;
  max-width: 100%;
}

.blog-carousel .blog-card img {
  width: 100%; /* Ensure the image is responsive */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .displayStuffs h2 {
    font-size: 30px; /* Smaller font size for titles on smaller screens */
  }

  .displayStuffs p {
    font-size: 16px;
  }
}
